/**
 *  ANTD自定义样式文件
 *  这个文件用于对官方antd.css样式文件做个性化样式修改用。
 *  使用前请确保该文件在载入antd.css后再载入，否则会出现由于优先级不足导致的样式失效问题
 *  
 *  Mr.Chinico  2018.5
 */

@import 'stylus-setting'

.ant-radio-group
  background: #fff;

.ant-radio-button-wrapper
  &:hover
    color: theme-color-A

.ant-radio-button-wrapper-checked
  border-color: theme-color-B !important // 由于源样式使用了!important所以此处也必须使用
  background: theme-color-A
  color: #fff
  &:hover
    color: #fff

.ant-tabs.ant-tabs-card 
  >.ant-tabs-bar
    .ant-tabs-tab-active
      background: theme-color-A
      color: #fff

.ant-tabs-nav
  .ant-tabs-tab
    &:hover
      border-color: theme-color-A
      color: theme-color-A

.ant-badge
  margin-left: 4px;
  margin-top: -16px;

.ant-btn.ant-dropdown-trigger
  background: transparent
  color: inherit
  &:hover
    border-color: theme-color-A
    color: theme-color-A
  &:focus
    @extend .ant-btn.ant-dropdown-trigger
    border-color: theme-color-A

.ant-btn-primary
  background: transparent

.ant-confirm-btns
  .ant-btn.ant-btn-Default
    background: button-blue-A
    border-color: button-blue-B
    color: #fff;
    &:hover
      background: button-blue-A
      border-color: button-blue-B
    &:active
      background: button-blue-B
    &:focus
      border-color: button-blue-B
      color: #fff
  .ant-btn
    &:hover
      background: #b10
      border-color: #a10
      color: #fff
    &:active
      background: #b00
      border-color: #a10
      color: #fff
    &:focus
      border-color: inherit
      color: #fff

.Select
  display: inline-flex    
  align-items: center
  width: 160px;
  font-size: 16px
  margin-left: 16px

.Select >div
  width: 150px;
  display: inline-block;

// .ant-layout-header .Select-control
//   background: #0000
//   position relative
//   .Select-value
//     position absolute
//     color #fff

.bbm-green, .bbm-green >div 
  display: flex;
  align-items: center;
  justify-content: space-between;  

.ant-layout-header
  display: flex
  align-items: center
  .Select-control
    display: flex
    position relative
  .Select-value
    bottom: -20px !important
  .Select-value span
    top 22px !important
    position: absolute !important
    overflow none !important
    line-height: normal !important
  .Select-option
    display: flex
    align-items: center
    height 32px !important
    position: none;
  .Select-menu
    display: flex
    flex-flow: column
