// ----- 站点全局配色 -----

theme-color-A = #008c7a // 主题色A 用于正常显示时的颜色
theme-color-B = #007c6a // 主题色B 用于点击、激活、悬浮时的颜色
button-blue-A = #0084bf // 按钮色A
button-blue-B = #0074af // 按钮色B

// --------------------