.lapseto .ant-btn{
    color: #fff;
    background-color: #0084bf !important;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 10px;
    margin-left: 15px;
}
.lapseto .ant-btn img{
    width:20px;
    height:20px;
    margin:0px 5px 5px 0px;
}
/* 第三部分的修改 */
input[type="checkbox"]{
    margin-right: 12px;
}
table{
    width: 100%;
}

.enabled{
}
.desabled{
    background: #CCC !important
}

.go-back{
    width: auto;
    display: inline;
    padding: 1px 24px;
    float: right;
    margin: 0px !important;
    margin-right: 16px !important;
}