.scorenew
  >div
    width 100%;
    display: flex;
    flex-flow: column;
    >div
      margin: 0px
      padding: 0px
      border: 0px
      border-right: 0px !important
      flex: 1
      display: flex
      justify-content center
      align-items: center
      p+p
        margin-left: 24px !important
      .ant-btn-edit
        display: flex
        justify-content center

.form-page .form-body .item >div >div >div
  height 32px
