.form-page
  width 210mm
  min-height 297mm
  color #000 
  font-size 14px
  display flex
  flex-flow column
  margin: auto
  background: #fff
  >div
    margin 5mm
    border 1px solid #000
    flex 1
    overflow: hidden

.form-page
  div
    display flex
    box-sizing: border-box
    white-space: nowrap
    overflow hidden
  

.form-page .form-header
  .form-title
    font bold 24px "微软雅黑","Microft YaHei" 
    margin 16px 0px
    margin-bottom: 8px
  .form-abstract
    border-bottom: 1px solid #000
    >div
      margin: 8px 0px
      span 
        width 80px
        padding: 2px 0px
        // background: #ff0000
        text-align: right 
      span+span 
        width 72px 
        border-bottom: 1px solid #000
        // background: #00f
        text-align: center
    .in-date
      span
        &:nth-child(n+2)
          width 50px
        &:nth-child(n+3)
          width 39px

.form-page .form-body
  >div
    border-bottom: 1px solid #000
    >div
      padding: 2px 0px
      border-right: 1px solid #000
      &:last-child
        border-right: 0px
  .form-prehospital
    flex-wrap: wrap
    >div
      padding: 0px
      >div
        border-bottom: 1px solid #000
        &:last-child
          border-bottom: 0px
        &:nth-child(2n+1)
          border-bottom: 1px solid #000
        >input 
          margin-left: 8px
  .form-nosocomial
    flex-wrap: wrap
    >div
      padding: 0px
      >div
        border-bottom: 1px solid #000
        &:last-child
          border-bottom: 0px
        >input 
          margin-left: 8px
  .form-unavoidable
    flex-wrap: wrap
    >div
      padding: 0px
      >div
        border-bottom: 1px solid #000
        &:last-child
          border-bottom: 0px
        >input 
          margin-left: 8px
  .form-observation
    >div
      border 0px
      border-bottom: 1px solid #000
      &:last-child
        border-bottom: 0px
      >div
        min-height: 25px
        padding: 2px 0px
        justify-content: center
        border-right: 1px solid #000
        &:last-child
          border-right: 0px
  .form-measures
    border-bottom: 1px solid #000
    >div
      align-items: center
      border: 0px
      >input
        margin-left: 8px

.form-page
  .form-sign
    border-bottom: 1px solid #000
    >div
      padding: 0px
      border 0px
      border-bottom: 1px solid #000
      &:last-child
        border-bottom: 0px
      >div
        min-height: 25px
        padding: 2px 0px
        border-right: 1px solid #000
        padding: 0px
        &:last-child
          border-right: 0px
        span
          width 38px
          text-align: center
        span+span
          width 24px
    .opinion
      height 100%
      >div
        border 0px
        >div
          padding-left: 16px 
      .check
        width 64px
      .opinion
        width auto
        text-decoration: underline
        text-align: left
  .lapse-to
    padding 8px 16px
    >div
      // border-right: 0px
      span
        width 38px
        text-align: center
      span+span
        width 24px
      .check
        width auto
        >input
          margin: 0px 8px
.form-page
  table
    width auto
    margin-top: -1px 
    margin-right: -2px
    border-bottom: 1px solid #000
  .surface-sign
    border-top: 1px solid #000 
    align-items: center
    padding-left: 16px
    input
      margin-left: 8px
      background: inherit
      border: none
      border-bottom: 1px solid #000
      height: 16px
      display: inline-block
      vertical-align: middle


.form-page .form-body
  .sign
    flex: 1
    flex-flow: column
    padding: 8px
    >div
      border: 0px
    
  .score
    >div
      padding: 0px 
      >div
        padding: 8px 0px
        border-right: 1px solid #000
        &:last-child
          border-right 0px
  .item-head
    height 64px
    >div
      padding: 0px
      >div
        border-bottom: 1px solid #000000
        &:last-child
          border-bottom: 0px 
        >div
          border-right: 1px solid #000
          &:last-child
            border-right 0px 
  .item
    >div
      padding: 0px
      >div
        border-bottom: 1px solid #000
        &:last-child
          border-bottom: 0px
        >div
          margin-right: -0.5px
          padding: 4px 0px
          border-right: 1px solid #000 
          &:last-child 
            border-right: 0px       

.form-page
  .row
    flex-flow: row
  .column
    flex-flow column
  .center
    justify-content center
    align-items: center
  .center-x
    justify-content center
  .center-y
    align-items: center
  .flex-1
    flex 1 
  .flex-2
    flex 2
  .flex-3
    flex 3
  .flex-4
    flex 4
  .flex-5
    flex 5
  .flex-6
    flex 6
  .flex-7
    flex 7
  .content
    padding: 2px 8px !important
  .no-content
    padding: 0px !important

  