@import '../stylus-setting'

button 
  background: transparent
  border: 0px
  padding: 0px 15px
  margin-left: 10px
  
.ant-layout-header
  button 
    &:active
      background: theme-color-B
  button.ant-btn
    border: 0px
    border-radius: 0px
    &:hover
      color: inherit
      background: theme-color-B