.loginPage {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.login_head {
	background: transparent !important
}
.loginbg {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.login_tit {
	width: 100%
}
.loginFormC {
	position: relative;
	z-index: 100;
	flex-grow: 1;
	padding: 30px 30px;
	width: 60%;
	float: right;
}
.loginForm {
	position: relative;
	z-index: 100;
	flex-grow: 1;
	padding: 30px 30px;
	padding-bottom: 16px;
	width: 60%;
	background-color: rgba(255,255,255,0.6);
	border-radius: 20px
}
.loginForm .tit {
	color: #FFF;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}
.loginForm .li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-align-items: center;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 30px;
	padding-bottom: 10px
}
.loginForm .li>img {
	width: 26px;
	margin: 0 5px;
}
.loginForm .li label {
	width: 60px;
	font-size: 18px;
}
.loginForm .li>input {
	background: transparent;
	border: none !important;
	height: 36px;
	line-height: 36px;
	flex-grow: 1;
	outline: none;
	font-size: 18px;
	color: #333;
}
.loginForm .butn {
	padding-top: 20px;
}
.loginForm .butn a {
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 100%;
	background-image: -webkit-linear-gradient(to bottom, #00a28d, #008f7c);
	background-image: linear-gradient(to bottom, #00a28d, #008f7c);
	border: none;
	border-radius: 4px;
}
.loginForm .tit .i {
	font-size: 12px;
	color: #FFF;
}
.loginPage .esclnk {
	position: fixed;
	bottom: 10px;
	text-align: center;
	z-index: 100;
	color: #FFF;
}
.loginPage .esclnk a {
	color: #FFF;
	font-size: 16px;
}
.version{
	text-align: center;
	margin-top: 16px;
}
